@font-face {
  font-family: "Nunito";   /*Can be any text*/
  src: local("Nunito"),
    url("./font/static/Nunito-Regular.ttf") format("truetype");
}

body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
